<%- include('../../partials/header.ejs'); %>

<body>
  <%- include('../../partials/navbar.ejs'); %>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">

        <div class="card mt-5">
          <div class="card-header">
            <h3 class="mb-3 pt-2">Edição de categorias</h3>
          </div>

          <div class="card-body">
            <form method="post" action="/categories/update">
              <input type="hidden" name="id" value="<%= category.id %>">
              <input type="text" class="form-control" name="title"  value="<%= category.title %>">
              <button class="btn btn-success  mt-4 ">Atualizar</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>

<%- include ('../../partials/footer.ejs') %>